/*
Brandon Namgoong
TEJ4M
2026-04-13
Cookie Clicker
*/

html, body {
    height: 100%;
    margin: 0;

    display: flex;
    flex-direction: column;
}

/* type definitions */

@font-face {
    font-family: "Mozilla Text";
    font-weight: 200;
    src: url("../assets/MozillaText-ExtraLight.woff2") format("woff2");
}

@font-face {
    font-family: "Mozilla Text";
    font-weight: 700;
    src: url("../assets/MozillaText-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "Google Sans Code";
    src: url("../assets/GoogleSansCode-VariableFont_wght.ttf") format("truetype");
}

/* type classes */

h1 { /* literally just for upgrades title */
    font-family: "Mozilla Text", sans-serif;
    font-weight: 800;
    font-size: 24px;

    margin: 0;
}

h2 { /* all the bold stuff */
    font-family: "Mozilla Text", sans-serif;
    font-weight: 700;
    font-size: 16px;

    margin: 0;
}

p { /* all the normal looking text */
    font-family: "Mozilla Text", sans-serif;
    font-weight: 200;
    font-size: 14px;

    margin: 0;
}

.cookie-text {
    font-family: "Google Sans Code", monospace;
    font-weight: 400;
    font-size: 10px;

    color: sienna;

    user-select: none;
}

/* images */

.logo {
    border: 1px solid white;

    max-height: 100%;
}

/* divs */

.titlebar {
    display: flex;
    height: 16px;
    padding: 8px;
    gap: 8px;
    align-items: center;

    background-color: darkblue;

    border-bottom: 1px solid white;
}

.menubar {
    display: flex;
    padding: 8px;
    gap: 20px;
    align-items: center;

    background-color: lightsteelblue;

    border-bottom: 1px solid black;
}

.statsbar {
    height: 48px;

    display: flex;
    padding: 12px;
    justify-content: space-between;
    gap: 20px;
    align-items: center;

    background-image: linear-gradient(to bottom, lightsteelblue, lightslategray);

    border-bottom: 1px solid black;
}

.statsbar-infobox {
    width: 100%;
    height: 100%;

    display: flex;
    padding-left: 48px;
    gap: 48px;
    align-items: center;

    background-color: white;

    border-radius: 8px;
}

.content {
    flex: 1;

    display: flex;
}

.sidebar {
    width: 400px;

    display: flex;
    flex-direction: column;
}

.sidebar-header {
    padding: 8px;

    background-color: lightslategray;

    border-bottom: 1px solid black;
}

.sidebar-content {
    flex: 1;

    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    background-color: white;

    border: 12px solid lightsteelblue;
}

.improvement {
    height: 32px;

    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: white;

    border: 2px solid black;

    user-select: none;

    --click-fill: lightcoral;
    transition: background-color 100ms;
}

.improvement:active {
    background-color: var(--click-fill);
}

.gamewindow {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: lightgray;

    border-left: 1px solid black;
}

.cookie {
    width: 740px;

    padding: 24px;

    background-color: white;

    border: 2px solid sienna;
    border-radius: 32px;

    transition: width 200ms;
}

.cookie:active {
    width: 728px;
}

.cookie-text-container {
    width: 720px;

    overflow-wrap: break-word;
}