/*
Brandon Namgoong
TEJ4M
2026-04-##
Cookie Clicker
*/

body {
    margin: 0;
    background-color: white;
}

/* type definitions */

@font-face {
    font-family: "Mozilla Text";
    font-weight: 200;
    src: url("../assets/MozillaText-ExtraLight.woff2") format("woff2");
}

@font-face {
    font-family: "Mozilla Text";
    font-weight: 700;
    src: url("../assets/MozillaText-Bold.woff2") format("woff2");
}

/* type classes */

h2 { /* all the bold stuff */
    font-family: "Mozilla Text", sans-serif;
    font-weight: 700;
    font-size: 16px;

    margin: 0;
}

p { /* all the normal looking text */
    font-family: "Mozilla Text", sans-serif;
    font-weight: 200;
    font-size: 14px;

    margin: 0;
}

/* images */

.logo {
    border: 1px solid white;

    max-height: 100%;
}

/* divs */

.title-bar {
    display: flex;
    height: 16px;
    padding: 8px;
    gap: 8px;
    align-items: center;

    background-color: darkblue;
}

.menu-bar {
    display: flex;
    height: 20px;
    padding: 8px;
    gap: 20px;
    align-items: center;

    background-color: lightsteelblue;

    border: 1px solid black;
}